### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [170]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Preview of the data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [172]:
#calculate the data
players = purchase_data["SN"].nunique()

#create the dataframe
players_count_pd = pd.DataFrame({"Total Players" : [players]})

#print the dataframe
players_count_pd

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [173]:
#calculate the data
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
num_purch = purchase_data["SN"].count()
total_rev = purchase_data["Price"].sum()

#create the dateframe
purchase_analysis_pd = pd.DataFrame({
    "Number of Unique Items" : [unique_items],
    "Average Price" : [average_price],
    "Number of Purchases" : [num_purch],
    "Total Revenue" : [total_rev]})

#print the dataframe
purchase_analysis_pd.style.format({
    "Average Price":"${:,.2f}",
    "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [175]:
#group the genders
gender = purchase_data.groupby("Gender")

#calculate the genders
total_gender = gender.nunique()["SN"]
percentage_of_players = total_gender / total_players * 100

#create the dataframe
gender_pd = pd.DataFrame({
    "Total Count" : total_gender,
    "Percentage of Players" : percentage_of_players})
gender_pd.index.name = None

#print the dataframe
gender_pd.style.format({
    "Percentage of Players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [181]:
#calculate the data
purchase_count = gender.count()["Price"]
purchase_count_unique = gender.nunique()["Price"]
avg_purchase_price = gender.mean()["Price"]
total_purchase_value = gender.sum()["Price"]

avg_total_purchase = total_purchase_value / purchase_count_unique

#create the dateframe
purchase_analytics_gender_pd = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average Purchase Price" : avg_purchase_price,
    "Total Purchase Value" : total_purchase_value,
    "Average Total Purchase Per Person" : avg_total_purchase})

purchase_analytics_gender_pd.index.name = None

#print the dateframe
purchase_analytics_gender_pd.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Average Total Purchase Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [205]:
#bins and bin names
bins_age = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
grouped_name = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#cutting
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins_age, labels = grouped_name)

#calculate the ages
age_range = purchase_data.groupby(["Age Group"])
count_age = age_range.nunique()["SN"]
#percent = number in bin/total x 100
percent_age = (count_age / players) *100

#create the dataframe
age_range = pd.DataFrame({"Total Count":count_age, "Percentage of Players":percent_age})

#create the dataframe
age_range.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [208]:
#calculate the purchase analysis
purchase_age_count = age_range.count()["Purchase ID"]
average_purchase_count = age_range.mean()["Price"]
purchase_count_unique = age_range.nunique()["Price"]
total_purchase_value = age_range.sum()["Price"]

avg_total_per = total_purchase_value/purchase_count_unique

#create the dataframe
purchasing_analysis = pd.DataFrame({
    "Purchase Count":purchase_age_count,
    "Average Purchase Price":average_purchase_count,
    "Total Purchase Value":total_purchase_value,
    "Avg Total Purchase per Person":avg_total_per})

#print the dataframe
purchasing_analysis.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [209]:
#group by user
user = purchase_data.groupby("SN")

#calculate the data
TP_Purchase_Count = user.count()["Price"]
TP_Average_Purchase_Price = user.mean()["Price"]
TP_Total_Purchase_Value = user.sum()["Price"]

#create the dataframe
top_spenders_pd = pd.DataFrame({
    "Purchase Count" : TP_Purchase_Count,
    "Average Purchase Price" : TP_Average_Purchase_Price,
    "Total Purchase Value" : TP_Total_Purchase_Value})

top_spenders_pd.index.name = 'User'

#print the dataframe
top_spenders_pd.sort_values(by=['Total Purchase Value'], ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
User
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [210]:
#group by item
item = purchase_data.groupby(["Item ID", "Item Name"])

#calculte the data
PI_Purchase_Count = item.count()["Price"]
PI_Item_Price = item.mean()["Price"]
PI_Total_Purchase_Value = item.sum()["Price"]

#create the dateframe
popular_items_pd = pd.DataFrame({
    "Purchase Count" : PI_Purchase_Count,
    "Item Price" : PI_Item_Price,
    "Total Purchase Value" : PI_Total_Purchase_Value})

popular_items_pd.index.name = ["Item ID", "Item Name"]

#print the dataframe
popular_items_pd.sort_values(by=['Purchase Count'], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [211]:
#use previous dataframe to sort by ascending
popular_items_pd.sort_values(by=['Total Purchase Value'], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80